ul { list-style-type: none; }

.animated {
  /*-webkit-animation-duration: 1s;*/
  animation-duration: 1s;
  /*-webkit-animation-fill-mode: both;*/
  animation-fill-mode: both;
}

.bounce {
  font-family: 'Open Sans';
  font-size: 4em;
  color: #00789d;
  text-align: center;
  animation: shake 5s;
  /*
  animation: [animation-name] [animation-duration] [animation-timing-function]
[animation-delay] [animation-iteration-count] [animation-direction]
[animation-fill-mode] [animation-play-state];
  */
}

.time1 {
  /*animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;*/
  animation-fill-mode: forwards;
}
.time1:hover {
  animation-play-state: paused;
}
.time2 { animation-timing-function: ease-in; animation-delay: 1s; animation-iteration-count: 2; }
.time3 { animation-timing-function: ease-out;animation-delay: 3s; }
.time3 { animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1); animation-delay: 6s; }

.ball {
  float: left;
  margin: 0 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.yellow { background-color: #e7e746; }
.blue { background-color: #00789d; }
.red { background-color: #d6556d; }
.green { background-color: #009b1c; }
.orange { background-color: #ed815a; }

.box {
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100px;
  height: 100px;
  background-color: #0000FF;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.box:hover {
  background-color: #FFCCCC;
  width: 200px;
  height: 200px;
  transform: rotate(180deg);
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes zoom {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
    color: #ed8f9f;
  }
  100% {
    transform: scale(1);
  }
}
